*.cmake linguist-vendored
*.cpp linguist-vendored
*.h linguist-vendored
*.swift linguist-vendored
*.kt linguist-vendored
*.html linguist-vendored
*.dart linguist-detectable
*.cmake linguist-detectable=false
path/to/cmake_folder/* linguist-vendored
path/to/cmake_folder/* linguist-detectable=false






